    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    <script>
       $(document).ready(function(){
          $('.sidenav').sidenav();
          $(".modal").modal();
       });

       if(window.location.pathname === "/contacts") {
          $('a[href="/contacts"]').parent().addClass("active");
       } else if (window.location.pathname === "/contacts/myfav") {
          $('a[href="/contacts/myfav"]').parent().addClass("active");
       } else if (window.location.pathname === "/contacts/create") {
	       $('a[href="/contacts/create"]').parent().addClass("active");
       }
    </script>   
   </body>
</html>