<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="/contacts" class="brand-logo"
        >Contact Book<i class="material-icons">contacts</i></a
      >
      <a href="#!" data-target="mobile-plat" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down">
        <li><a class="nav-link" href="/contacts">My Contacts</a></li>
        <li><a class="nav-link" href="/contacts/create">Add Contact</a></li>
        <li><a class="waves-effect waves-light btn">Log Out</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-plat">
  <li><a class="waves-effect waves-light btn">Log Out</a></li>
  <li><a href="/contacts">My Contacts</a></li>
  <li><a href="/contacts/create">Add Contact</a></li>
</ul>
