<%- include('partials/header') %><%- include('partials/navbar') %>

<div class="container">
  <h1><strong>Some error occurred! :(</strong></h1>
  <p>We're working on fixing this, sorry for the inconvenience.</p>
</div>

<%- include('partials/footer') %>
