th {
  width: 8%;
}

.pagination {
  text-align: center;
}

.message {
  text-align: center;
  margin: 0;
  background-color: rgba(229, 145, 145, 0.548);
  border-radius: 20px;
  font-size: 20pt;
  margin-top: 20vh;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content-box {
  background-color: rgb(236, 234, 234);
  padding: 50px;
  margin: auto;
  margin-top: 20vh;
  width: 50%;
  border-radius: 10px;
}

.content-box h4 {
  margin-top: 0;
}
